cycler==0.10.0
h5py==2.9.0
kiwisolver==1.0.1
matplotlib==3.0.3
numexpr==2.6.9
numpy==1.16.2
pandas==0.24.1
patsy==0.5.1
py4j==0.10.7
pyparsing==2.3.1
pyspark==2.4.0
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
sklearn==0.0
statsmodels==0.9.0
tables==3.4.4
xgboost==0.82
